<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>52193990836-2uvrf9ill8qn75o42tpmqhvnlrv085uj.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.52193990836-2uvrf9ill8qn75o42tpmqhvnlrv085uj</string>
	<key>API_KEY</key>
	<string>AIzaSyD4RQvP9A44GYKdH9yv-s3vdqa7BRbRM-c</string>
	<key>GCM_SENDER_ID</key>
	<string>52193990836</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.Oceana.FromNothing</string>
	<key>PROJECT_ID</key>
	<string>fromnothing-37c9b</string>
	<key>STORAGE_BUCKET</key>
	<string>fromnothing-37c9b.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:52193990836:ios:7ddbb11872bf134e8e5fe1</string>
</dict>
</plist>