<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<!--
   Info.plist
   FromNothing

   Created by Remmington Damper on 2/20/23.
   Copyright (c) 2023 ___ORGANIZATIONNAME___. All rights reserved.
-->
<plist version="1.0">
    <dict>
    <key>GIDClientID</key>
    <string>52193990836-2uvrf9ill8qn75o42tpmqhvnlrv085uj.apps.googleusercontent.com</string>
    <key>CFBundleURLTypes</key>
    <array>
      <dict>
        <key>CFBundleURLSchemes</key>
        <array>
          <string>com.googleusercontent.apps.52193990836-2uvrf9ill8qn75o42tpmqhvnlrv085uj</string>
        </array>
      </dict>
    </array>
    </dict>
</plist>
